<div class="col-lg-12">
  <button mat-raised-button class="btn btn-primary mr-1" data-toggle="modal"
    (click)="openModal(template)">
    <mat-icon>person_add</mat-icon>
  </button>
  <mat-form-field appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="custom" mat-raised-button class="bg-success" (click)="exportTable()">
    <mat-icon>
      import_export</mat-icon>
  </button>
</div>
<div class="mat-elevation-z8">
  <table id="ExampleMaterialTable" mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="Code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Login </th>
      <td mat-cell *matCellDef="let row"> {{row.login}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
      <td mat-cell *matCellDef="let row"> {{row.role}} </td>
    </ng-container>

    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef> Modifier </th>
      <td mat-cell *matCellDef="let row">
        <button mat-fab aria-label="Example icon-button with a heart icon" class="icon-display "
          (click)="editThisUser(row.code);openModal(templateEdit)">
          <mat-icon>edit </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="supprimer">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>
      <td mat-cell *matCellDef="let row">
        <button mat-fab aria-label="Example icon-button with a heart icon" color="warn" class="icon-display "
          (click)="deleteThisUser(row.code)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator class="page-link" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
  </mat-paginator>
</div>

<ng-template class="cc" #template>
  <div style="width: 100%; height: 100%;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ajouter utilisateur</h4>
          <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form action="" method="post" name="form" [formGroup]="form">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" id="login" name="login" class="form-control" formControlName="login"
                  placeholder="Username" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                </div>
                <input type="password" id="password" name="password" formControlName="password" class="form-control"
                  placeholder="Password" autocomplete="current-password" required>
              </div>
            </div>
            <mat-radio-group class="example-radio-group">
              <mat-radio-button
                class="example-radio-button"
                *ngFor="let role of roles"
                [value]="role" (change)="radioChange($event.value)">
                {{role}}
              </mat-radio-button>
            </mat-radio-group>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="OnCreateUser()"
            [disabled]="form.invalid">Confirmer</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>
<ng-template class="cc" #templateEdit>
  <div style="width: 100%; height: 100%;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editer utilisateur</h4>
          <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form action="" method="post" name="form" [formGroup]="form">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-user"></i></span>
                </div>
                <input type="text" id="login" name="login" class="form-control" formControlName="login"
                  placeholder="Username" required>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-asterisk"></i></span>
                </div>
                <input type="password" id="password" name="password" formControlName="password" class="form-control"
                  placeholder="Password" autocomplete="current-password" required>
              </div>
            </div>
            <mat-radio-group class="example-radio-group" [(ngModel)]="checked" [ngModelOptions]="{standalone: true}" (change)="radioChange($event.value)" >
              <mat-radio-button
                class="example-radio-button"
                *ngFor="let role of roles"
                [value]="role">
                {{role}}
              </mat-radio-button>
            </mat-radio-group>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide() ; form.reset()">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="updateUser()"
            [disabled]="form.invalid">Modifier</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>