<div class="col-lg-12">
  <button mat-raised-button class="btn btn-primary mr-1" data-toggle="modal" (click)="openModal(template)">
    <mat-icon>person_add</mat-icon>
  </button>
  <mat-form-field appearance="standard">
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class="custom" mat-raised-button class="bg-success" (click)="exportTable()">
    <mat-icon>
      import_export</mat-icon>
  </button>
</div>
<div class="mat-elevation-z8">
  <table id="ExampleMaterialTable" mat-table [dataSource]="dataSource" matSort>
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let row"> {{row.id}} </td>
    </ng-container>
    <!-- ID Column -->
    <ng-container matColumnDef="libelle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Libelle </th>
      <td mat-cell *matCellDef="let row"> {{row.libelle}} </td>
    </ng-container>

    <ng-container matColumnDef="modifier">
      <th mat-header-cell *matHeaderCellDef> Modifier </th>
      <td mat-cell *matCellDef="let row">
        <button mat-fab aria-label="Example icon-button with a heart icon" class="icon-display "
          (click)="editThisUser(row.id);openModal(templateEdit)">
          <mat-icon>edit </mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="supprimer">
      <th mat-header-cell *matHeaderCellDef> Supprimer </th>
      <td mat-cell *matCellDef="let row">
        <button mat-fab aria-label="Example icon-button with a heart icon" color="warn" class="icon-display "
          (click)="deleteThisUser(row.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator class="page-link" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users">
  </mat-paginator>
</div>



<ng-template class="cc" #template>
  <div style="width: 100%; height: 100%;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Ajouter pays</h4>
          <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form action="" method="post" name="form" [formGroup]="form">
            <div class="form-group">

            <section>
            <mat-form-field appearance="outline">
              <mat-label>Select a country</mat-label>
              <mat-select #countrySelect (selectionChange)="onSelectEvent($event)">
                <mat-select-trigger>{{countrySelect.value}}</mat-select-trigger>
          
                <mat-option>
                  <lib-mat-select-search
                    [list]="countries"
                    [searchProperties]="['name']"
                    (filtered)="filteredCountries = $event">
                  </lib-mat-select-search>
                </mat-option>
          
                <mat-option *ngFor="let country of filteredCountries" [value]="country.name" >
                  <div class="country-container">
                    <span>{{country.name}}</span>
                  </div>
                </mat-option>
          
              </mat-select>
            </mat-form-field>
            </section>


            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="OnCreateUser()"
           >Confirmer</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>





<ng-template class="cc" #templateEdit>
  <div style="width: 100%; height: 100%;" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-primary" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">Editer pays</h4>
          <button type="button" class="close" (click)="modalRef.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="card-body">
          <form action="" method="post" name="form" [formGroup]="form">
            <div class="form-group">
            <section>
              <mat-form-field appearance="outline">
                <mat-label>Select a country</mat-label>
                <mat-select #countrySelect (selectionChange)="onSelectEvent($event)">
                  <mat-select-trigger>{{countrySelect.value}}</mat-select-trigger>
            
                  <mat-option>
                    <lib-mat-select-search
                      [list]="countries"
                      [searchProperties]="['name']"
                      (filtered)="filteredCountries = $event">
                    </lib-mat-select-search>
                  </mat-option>
            
                  <mat-option *ngFor="let country of filteredCountries" [value]="country.name" >
                    <div class="country-container">
                      <span>{{country.name}}</span>
                    </div>
                  </mat-option>
            
                </mat-select>
              </mat-form-field>
              </section>
              </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modalRef.hide() ; form.reset()">Annuler</button>
          <button type="button" class="btn btn-primary" (click)="updateUser()"
            >Modifier</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</ng-template>